.main-header {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-color: #1a1915;
  height: 540px; }
  @media (min-width: 660px) {
    .main-header {
      background-image: url(../img/background-tablet.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 768px; } }

.header__link-block {
  padding-top: 32px; }
  @media (min-width: 660px) {
    .header__link-block {
      margin-left: 500px; } }

.header__log-in {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin-left: 84px;
  padding-top: 32px;
  padding-right: 20px; }

.header__sign-up {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid #ffffff;
  padding-left: 19px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-top: 20px; }

.header__headline {
  padding-top: 115px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media (min-width: 660px) {
    .header__headline {
      padding: 0;
      margin: 0;
      text-align: left;
      padding-left: 50px;
      padding-bottom: 20px; } }

.header__motto {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 660px) {
    .header__motto {
      color: #ffffff;
      font-size: 52px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: bold;
      padding-left: 100px;
      padding-right: 100px;
      margin-bottom: 0; } }

.header__descr {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  padding-left: 65px;
  padding-right: 39px;
  padding-bottom: 19px; }
  @media (min-width: 660px) {
    .header__descr {
      color: #ffffff;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 300; } }

.header__action {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20px;
  background-color: #ff4e50;
  padding-left: 51px;
  padding-top: 14px;
  padding-right: 52px;
  padding-bottom: 12px;
  margin-left: 20px; }
  @media (min-width: 660px) {
    .header__action {
      margin-left: 260px; } }
