@import"header.scss";
@import"footer.scss";
@import"variables.scss";

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular.eot"),
  url("../fonts/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular.ttf") format("truetype");
  font-weight: normal;
}

body {
  width:320px;
  margin: 0 auto;
  box-sizing: border-box;
  
  @media(min-width: $tablet) {
    width: 768px;
  }
}

.headline,
.main__headline,
.partner__headline {
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

<<<<<<< HEAD
.headline {
  @media(min-width: $tablet) {
    padding-top: 50px;
  }
}

.main__wrapper {
  @media(min-width: $tablet) {
  width: 768px;
  }
}

.step__wrapper {
  @media(min-width: $tablet) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
}

.step__block {
=======
.step__block--first,
.step__block--third{
>>>>>>> e65dc6a74ec75bbe5fc26c00073de2829d349435
  width: 300px;
  height: 240px;
  margin: 0 auto;
  background-image: url(../img/step1.png),linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat:no-repeat;
  background-size: cover;
  background-color: #ff8523;
  border-radius: 4px;
  margin-top: 10px;
  @media(min-width: $tablet) {
    width: 239px;
    height: 403px;
    background-position: center;
  }
}

.step__block--second {
  width: 300px;
  height: 240px;
  margin: 0 auto;
  background-image: url(../img/step2.png),linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat:no-repeat;
  background-size: cover;
  background-color: #ff8523;
  border-radius: 4px;
  margin-top: 10px;
  @media(min-width: $tablet) {
    width: 239px;
    height: 403px;
    background-position: center;
  }
}

.step__block--third {
  width: 300px;
  height: 240px;
  margin: 0 auto;
  background-image: url(../img/step3.png),linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat:no-repeat;
  background-size: cover;
  background-color: #ff8523;
  border-radius: 4px;
  margin-top: 10px;
  @media(min-width: $tablet) {
    width: 239px;
    height: 403px;
    background-position: center;
  }
}

.step__link {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: #ff4e50;
  margin-left: 23px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 2;
  position: relative;
}

.step__headline {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding-left: 22px;
  padding-top: 40px;
}

.step__text {
  color: #cccccc;
  font-size: 14px;
  font-weight: 300;
  padding-right: 22px;
  padding-left: 22px;
}


.partner__wrapper {
  @media(min-width: $tablet) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    justify-content: space-around;
  }
}

.partner__block {
  @media(min-width: $tablet) {
    width: 300px;
  }
}

.step__block--second {
  width: 300px;
  height: 240px;
  margin: 0 auto;
  background-image: url(../img/step2.png),linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat:no-repeat;
  background-size: cover;
  background-color: #ff8523;
  border-radius: 4px;
  margin-top: 10px;
}

.step__block--third {
   width: 300px;
  height: 240px;
  margin: 0 auto;
  background-image: url(../img/step3.png),linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat:no-repeat;
  background-size: cover;
  background-color: #ff8523;
  border-radius: 4px;
  margin-top: 10px;
}

.step__link {
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #ff4e50;
  padding-left: 6px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  margin-left: 22px;
}

.partner__img {
  margin-left: 100px;
  @media(min-width: $tablet) {
    margin-left: 50px;
    
  }
}

.partner__name {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  @media(min-width: $tablet) {
    padding: 0;
    margin: 0;
    margin-right: 100px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
  }
}

.partner__descr {
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-left: 32px;
  padding-right: 30px;
  padding-bottom: 27px;
  @media(min-width: $tablet) {
    padding: 0;
    margin: 0;
    color: #666666;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
  }
}

.partner__block--Hunter {
  @media(min-width: $tablet) {
    order: 1;
  }
}

.partner__block--Heather {
  @media(min-width: $tablet) {
    order: 2;
  }
}

.partner__block--Lucas {
  @media(min-width: $tablet) {
    order: 3;
  }
}

.partner__block--Bradley {
  @media(min-width: $tablet) {
    order: 4;
  }
}

.partner__link {
  color: #ff4e50;
  font-size: 14px;
  font-weight: 700;
  padding-left: 74px;
  padding-top: 10px;
  padding-right: 74px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  background-color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
}

.ideas__headline {
  padding-top: 30px;
}

.ideas__text {
  background-image: url(../img/ideas1.png);
  background-repeat: no-repeat;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #333333;
  margin-bottom: 9px;
}

.ideas__text--second {
  background-image: url(../img/ideas2.png);
  background-repeat: no-repeat;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #333333;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.ideas__text__third {
  background-image: url(../img/ideas3.png);
  background-repeat: no-repeat;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #333333;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.ideas__text--fourth {
  background-image: url(../img/ideas4.png);
  background-repeat: no-repeat;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #333333;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.ideas__text--fifth {
  background-image: url(../img/ideas5.png);
  background-repeat: no-repeat;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #333333;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.ideas__text--sixth {
  background-image: url(../img/ideas6.png);
  background-repeat: no-repeat;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #333333;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.ideas__text--seventh {
  background-image: url(../img/ideas7.png);
  background-repeat: no-repeat;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #333333;
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.ideas__text {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.ideas__text--extreme {
  padding-top: 16px;
}

.search__descr {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
}

.search__textarea  {
  box-shadow: 0 1px 0 #eeeeee;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  margin-left: 40px;
  color: #999999;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 34px;
}

.search__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  background-color: #ff4e50;
  padding-left: 84px;
  padding-top: 14px;
  padding-right: 84px;
  padding-bottom: 12px;
  margin-left: 20px;
}





